# Ignore Python compiled files
__pycache__/
*.py[cod]
*.pyo

# Ignore virtual environments
venv/
.env/

# Ignore IDE-specific files
.vscode/
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates

# Ignore OS-specific files
.DS_Store
Thumbs.db